<section class="flex flex-col items-center justify-center">
    <app-base-navbar></app-base-navbar>
    <div class="w-screen flex flex-col items-center p-5 gap-5 text-center">
        <h2 class="font-bold">User profile</h2>
        <app-profile-form></app-profile-form>
        <p class="text-red-800 custom-disconnect-text" style="cursor: pointer;" (click)="logout()">Disconnect</p>

        <hr class="w-full border-black opacity-100 mx-12">

        <h2 class="font-bold">Subscriptions</h2>
        <app-theme-feed></app-theme-feed>
    </div>
</section>