<section class="flex flex-col items-center justify-center">
    <app-base-navbar-component></app-base-navbar-component>
    <div class="w-screen flex flex-col items-center p-5 gap-5 text-center">
        <h2 class="font-bold">User profile</h2>
        <app-profile-form-component></app-profile-form-component>
        <p class="text-red-800 custom-disconnect-text" style="cursor: pointer;" (click)="logout()">Disconnect</p>

        <hr class="w-full border-black opacity-100 mx-12">

        <h2 class="font-bold">Subscriptions</h2>
        <div class="w-screen flex flex-col p-5 gap-5">
            <app-theme-feed-component></app-theme-feed-component>
        </div>
    </div>
</section>