<div class="flex flex-col items-center justify-center" >
    <app-navbar></app-navbar>
    <div class="w-screen flex flex-col p-5 gap-5">
        <section class="w-full flex items-center justify-between gap-5" [ngClass]="{'flex-col': isSmallScreen}">
            <button type="button" class="primary-btn" routerLink="/articles/create" >Créer un article</button>
            <div class="flex items-center gap-2" (click)="sortArticles()" style="cursor: pointer;">
                <p class="font-extrabold" style="font-size: 16px; font-weight: 700;">Trier par</p>
                <mat-icon *ngIf="!isAscendingOrder" aria-hidden="false" aria-label="Trier les articles par ordre dsc" fontIcon="south"></mat-icon>
                <mat-icon *ngIf="isAscendingOrder" aria-hidden="false" aria-label="Trier les articles par ordre asc" fontIcon="north"></mat-icon>
            </div>
        </section>
        <section class="flex w-full">
            <p *ngIf="!articles || articles.length === 0">Aucun article disponible pour le moment</p>
            <div *ngIf="articles && articles.length > 0" class="w-full flex flex-wrap justify-between" [ngClass]="{'flex-col': isSmallScreen}">
                <app-card 
                    *ngFor="let article of articles"
                    [link]="['/articles/detail', article.id!.toString()]"
                    [title]="article.title" 
                    [author]="article.author!" 
                    [createdAt]="article.created_at!" 
                    [content]="article.content"
                    [ellipsis]=5
                    [ngStyle]="{'width': isLargeScreen ? 'calc(50% - 24px)' : '100%', 'margin-bottom': '24px'}" style="cursor: pointer;">
                </app-card>
            </div>
        </section>
    </div>
</div>